* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  background: black;
}
.app {
  width: 90%;
  max-width: 500px;
  background: linear-gradient(135deg, rgb(154, 238, 192), rgb(154, 181, 238));
  padding: 30px 30px;
  border-radius: 30px;
  text-align: center;
}
.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search input {
  height: 60px;
  width: 250px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 20px;
  margin-right: -100px;
}
.search button {
  height: 60px;
  width: 60px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.search button img {
  height: 20px;
  width: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 30px;
}
.col img {
  width: 25%;
  max-width: 175px;
  margin-right: 10px;
}
.container {
  display: none;
}
.invalid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: black;
  display: none;
}
